<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aishwaryashrestha_keshavdulal_mapd711_assignment4">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Cruise"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AishwaryaShrestha_KeshavDulal_MAPD711_Assignment4">
        <activity
            android:name=".Book"
            android:exported="false" />
        <activity
            android:name=".Checkout"
            android:exported="false" />
        <activity
            android:name=".Payment"
            android:exported="false" />
        <activity
            android:name=".Confirm"
            android:exported="false" />
        <activity
            android:name=".CruiseDetail"
            android:exported="false" />
        <activity
            android:name=".Welcome"
            android:exported="false" />
        <activity
            android:name=".UserProfileScreen"
            android:exported="true" />
        <activity
            android:name=".CruiseRegistration"
            android:exported="false" />
        <activity
            android:name=".Update"
            android:exported="false" />
        <activity
            android:name=".Confirmation"
            android:exported="false" />
        <activity
            android:name=".CruiseBookingScreen"
            android:exported="false" />
        <activity
            android:name=".DashboardScreen"
            android:exported="false" />
        <activity
            android:name=".UserRegistrationScreen"
            android:exported="false" />
        <activity
            android:name=".LoginScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>